[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/tarbar"]
	path = bundle/tarbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
